image: node:14

pipelines:
  default:
    - step:
        name: Build Frontend and Backend
        script:
          - pnpm install --filter lockbox-api
          - pnpm install --filter lockbox-fe
          - pnpm run --filter lockbox-api build
          - pnpm run --filter lockbox-fe build
        artifacts:
          - lockbox-api/build/**
          - lockbox-fe/build/**
